body {
  text-align: center;
}
.grid {
  width: 110px;
  margin: 0 auto;
  padding: 5px;
  border: solid 1px #300;
}
.button {
  display: inline-block;
  background-color: #eee;
  width: 25px;
  height: 25px;
  margin: 5px;
  text-align: center;
  vertical-align: middle;
  font-size: 25px;
}
.X-won {
  background-color: #cfc;
}
.O-won {
  background-color: #cdf;
}
.no-win {
  background-color: #ccc;
}
.X-selected {
  color: #080;
}
.O-selected {
  color: #008;
}
#game {
  left: 0px;
  right: 0px;
}