body {
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.grid {
  width: 110px;
  margin: 0 auto;
  padding: 5px;
  border: solid 1px #300;
}
.button {
  display: inline-block;
  background-color: #eee;
  width: 25px;
  height: 25px;
  margin: 5px;
  text-align: center;
  vertical-align: middle;
  font-size: 25px;
}
.X-selected {
  color: #080;
}
.O-selected {
  color: #008;
}
#game {
  padding-top: 5px;
  left: 0px;
  right: 0px;
}
.game-control {
  display: inline-block;
  background: #ccc;
  cursor: pointer;
  padding: 5px 5px;     
}
.game-control.down {
  background: #bbb;
}